<div class="jumbotron">
    <div class="container">
        <div class="shadow">
            <h3>{{'meals.title' | i18nPipe}}</h3>
            <div class="view-box">
                <!--grid-->
                <p-dataTable [value]="mealsHolder | async" (onRowSelect)="onMealEdit($event)" selectionMode="single"
                             [paginator]="true" rows="10" [responsive]="true">
                    <p-column field="name" [sortable]="true" header="{{'meals.description' | i18nPipe}}"
                              [filter]="true"></p-column>
                    <p-column field="price" [sortable]="true" header="{{'meals.price' | i18nPipe}}"
                              [filter]="true"></p-column>
                    <p-column [style]="{'width':'120px'}">
                        <template pTemplate type="body" let-meal="rowData">
                            <button pButton icon="fa-check" style="float:left" (click)="onMealDelete(meal)"
                                    label="{{'common.delete' | i18nPipe}}"></button>
                        </template>
                    </p-column>
                    <footer>
                        <div class="ui-helper-clearfix" style="width:100%">
                            <button type="button" pButton icon="fa-plus" style="float:left"
                                    (click)="showMealCreateModal()" label="{{'meals.add' | i18nPipe}}"></button>
                        </div>
                    </footer>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<meal-edit (onSaveEvent)="onMealSave($event)"></meal-edit>